<configuration>
  <system.webServer>
  <security>
       <requestFiltering allowDoubleEscaping="true" />
   </security>
   <httpErrors>
       <error statusCode="404" path="/404.html" responseMode="ExecuteURL" />
   </httpErrors>
    <rewrite>
      <rewriteMaps>
      <add key="/clemensv/" value="/"/>
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="Rewrite Rule">
          <match url=".*" />
          <conditions>
            <add input="{archiveRewrites:{REQUEST_URI}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" redirectType="Permanent"/>
        </rule>               
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <customErrors mode="Off"/>
  </system.web>
</configuration>